<html>
<head>
  <meta charset="UTF-8">
  <title>Answer</title>
</head>
<body>
  <h1>Stupid Coaching</h1>

  <div class = "background-question">
  <p><%= @question %></p>
  <p>--You</p>
  </div>
  <div class = "background-answer">
  <p><%= @answer %></p>
  <p>--Your coach</p>
  </div>

<%= link_to "Ask a new question", ask_path %>
</body>
</html>

